<% if @categories_favorite.length == 0 %>
  <p>Sem categorias favoritadas</p>
<% end %>

<% @categories_favorite.each do |category| %>

  <h3> <%= link_to "#{category.name}", category, method: :get, style: 'color:#000000' %> (<%= category.videos.length %>)</h3>

  <table class="table table-bordered table-hover" table-layout="fixed">
    <tbody>
      <% if category.videos.length == 0 %>
        Categoria sem vídeos salvos
      <% else %>
        <% category.videos.order(created_at: :desc).each do |video| %>

          <tr>
            <td width="75%">
              <b> <%= link_to "#{video.title}", video, method: :get, style: 'color:#000000' %> </b> <br>
              <small> Comentários: <%= video.comments.length %> </small>
            </td>
            <td> <%= button_to "Visualizar", video, method: :get, class: "btn btn-primary" %> </td>
            <td> <%= button_to "Remover", video, method: :delete, class: "btn btn-danger", data: {confirm: "Tem certeza que deseja remover #{video.title}?" } %> </td>
          </tr>

        <% end %>

      <% end %>
    </tbody>
  </table>
<% end %>
