<% @category_new.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role=alert">
    <%= message %>
  </div>
<% end %>

<h3> Criar Categoria </h3>

<%= form_for @category_new do |form| %>
  <div class="form-inline">
    <%= form.text_field :name, placeholder: "Nome da Categoria", class: "form-control" %>
    <%= form.select :favorite, [['Sim', true], ['Não', false]], class: "form-control" %>
    <%= form.submit "Adicionar", class: "btn btn-primary" %>
  </div>
<% end %>

<br>

<% if flash[:add] %>
  <div class="alert alert-success" role=alert">
    <%= flash[:add] %>
  </div>
<% end %>

<% if flash[:remove] %>
  <div class="alert alert-danger" role=alert">
    <%= flash[:remove] %>
  </div>
<% end %>

<h3> Lista de Categorias </h3>

<% if @categories_all.length == 0 %>
  Sem categorias

<% else %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>Categoria</td>
        <td>Favorito</td>
        <td colspan=1>
      </tr>
    </thead>
    <tbody>
      <% @categories_all.each do |category| %>
        <tr>
          <td> <%= category.name %> </td>

          <% if category.favorite %>
            <td> Sim </td>
          <% else %>
            <td> Não </td>
          <% end %>
          <% message_confirm = "Ao remover a categoria #{category.name.upcase} todos os vídeos relacionados serão perdidos. Remover?" %>

          <td> <%= button_to "Remover", category, method: :delete, class: "btn btn-danger", data: {confirm: message_confirm } %> </td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
